<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>CreativeSDKFoundation</string>
	<key>Version</key>
	<string>0.3</string>
	<key>BuildNumber</key>
	<string>&lt;development&gt;</string>
	<key>Branch</key>
	<string>&lt;development&gt;</string>
	<key>SHA</key>
	<string>&lt;development&gt;</string>
	<key>Dependencies</key>
	<array/>
</dict>
</plist>
